<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style1.css">
    <title>Document</title>
</head>
<body>
    
    <div class="downloard-button">
        <a href="/download">Download File</a>
    </div>
    <div class="back-button">
        <form action="/home">
            <input class="back-to-home" type="submit" value="Back">
        </form>
    </div>
    
</body>
</html>